[Unit]
Description=waifurudor.de - Anime as a Service (AaaS)

[Service]
ExecStart=yarn start
Restart=always
User=none
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/whatever/user/waifurudor.de/

[Install]
WantedBy=multi-user.target